<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Running Groups">
        <groups>
            <run>
                <include name="Us22_1.grup"></include>
            </run>
        </groups>
        <classes>
            <class name="tests.profile.profilPageTest"></class>
        </classes>
    </test>
</suite>